@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply font-sans transition-colors duration-200;
    background-color: #F9FAFB;
    color: #26323A;
    font-family: 'Space Mono', monospace;
  }

  /* Dark mode */
  .dark {
    background-color: #0f172a;
    color: #f1f5f9;
  }
}
