@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-bg  font-sans transition-colors duration-200;
  }

  /* Light mode (default) */
  .light {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(38 50 58 / var(--tw-text-opacity));
  }

  /* Dark mode */
  .dark {
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(241 245 249 / var(--tw-text-opacity));
  }
}
